<!-- Config file for the game -->

<config>
 <app cap_frames="true" framerate_cap="30">
    <title>DOOM 2D19</title>
    <organization>Doctor Corp</organization>
 </app>

  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>
  
  <gui>
   
	 <images>
        <image name="bg">
		  <position x="0" y="0" />
          <section x="0" y="0" w="1514" h="851"/>
		  <scaleFactor value = "1.0"/>
        </image>
		
		
	 </images>	
	 
	 
	  <labels>
	  
        <label name="test">
          <position x="500" y="20"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="FIGHT!"/>
          <path p="GUI/Fonts/LemonMilk.ttf"/>
          <size s="48"/>
		   <scaleFactor value = "1.0"/>
        </label>
		
	
		
      </labels>
	  
	   <atlas file="gui/atlas.png"/>
    <spriteScale value = "3.35" /> 	
	
	
  </gui>

   
 

</config>